.story-heading {
  font-weight: 500;
  margin-top: 1.5rem;
  margin-bottom: 0.5rem;
}
.story-heading:first-child {
  margin-top: 0;
}
h1.story-heading {
  margin-bottom: 1.5rem;
  font-size: 2rem;
}
h2.story-heading {
  font-size: 1.4rem;
}
.story-flex {
  display: flex;
  gap: 1rem;
}
